.ticket-card{
    width: 244px;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
    float: left;
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.6);
    transition: all ease .3s;   
    cursor: pointer;
    margin-top: 50px;
}
.ticket-card:hover{
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.9);
}
.title{
    font-size: 20px;
    color: #000800;
    margin: 10px;
}
.price{
    font-size: 20px;
    color: #000800;
}